
<!--loads the path to static files-->

{% load static %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="{% static 'music/style.css' %}" />
<link href="https://fonts.googleapis.com/css?family=Lacquer&display=swap" rel="stylesheet">

<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    
    
        <a class="navbar-brand" href="{% url 'music:index' %}">Music.in</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="nav navbar-nav">
                <li class="nav-item">
                    <a href="{% url 'music:index' %}" class="nav-link">
                        <span class="glyphicon glyphicon-cd" aria-hidden="true"></span>
                        Album</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Songs</a>
                </li>
            </ul>
     </div>
</nav>

    


{% if all_albums %}
    <h3>All available music albums</h3>
        <ul>
            {% for album in all_albums %}
            <li><a href="{% url 'music:details' album.id %}">{{ album.album_title }}</a></li>
            {%endfor%}
        </ul>
        
{% else %}
        <h3>Sorry! You don't have any albums.</h3>
{% endif %}