
<!--loads the path to static files-->

{% load static %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="{% static 'music/style.css' %}" />
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>


<nav class="navbar navbar-expand-md bg-dark">
    
        <div class="navbar-brand">
            <a class="text-light" href="{% url 'music:index' %}">Music</a>
        </div>


    
</nav>

{% if all_albums %}
    <h3>All available music albums</h3>
        <ul>
            {% for album in all_albums %}
            <li><a href="{% url 'music:details' album.id %}">{{ album.album_title }}</a></li>
            {%endfor%}
        </ul>
        
{% else %}
        <h3>Sorry! You don't have any albums.</h3>
{% endif %}